name: CI

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 yamllint
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Lint with yamllint
      run: |
        yamllint .
    - name: Lint with hadolint
      uses: hadolint/hadolint-action@v3.1.0
      with:
        dockerfile: Dockerfile
    - name: Lint with shellcheck
      uses: ludeeus/action-shellcheck@master

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
    - name: Test with pytest
      run: |
        pytest --cov=lib --cov=main tests/

  build:
    needs: [lint, test]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Sanitize branch name
      id: sanitize
      run: |
        # Replace / with - in the branch name
        SANITIZED_REF_NAME=$(echo "${{ github.ref_name }}" | tr '/' '-')
        echo "sanitized_ref_name=${SANITIZED_REF_NAME}" >> $GITHUB_OUTPUT

    - name: Build and export
      uses: docker/build-push-action@v5
      with:
        context: .
        tags: sonarqube-exporter:${{ steps.sanitize.outputs.sanitized_ref_name }}
        outputs: type=docker,dest=/tmp/image.tar

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: docker-image
        path: /tmp/image.tar

    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@master
      with:
        input: /tmp/image.tar
        format: 'table'
        exit-code: '1'
        ignore-unfixed: true
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH'

    - name: Login to Quay
      uses: docker/login-action@v3
      with:
        registry: ${{ vars.QUAY_REGISTRY }}
        username: ${{ secrets.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_PASSWORD }}

    - name: Push to Quay
      run: |
        docker load --input /tmp/image.tar
        IMAGE_TAG=${{ steps.sanitize.outputs.sanitized_ref_name }}
        FULL_IMAGE_NAME=${{ vars.QUAY_REGISTRY }}/${{ vars.QUAY_IMAGE_NAME }}:$IMAGE_TAG
        docker tag sonarqube-exporter:$IMAGE_TAG $FULL_IMAGE_NAME
        docker push $FULL_IMAGE_NAME
